<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.eclipse.graphiti.ui.diagramTypes">
    <diagramType
      description="This is the diagram type for modeling modulob state machines"
      id="de.dubmas.modulob.state.diagramtype"
      name="modulob State Machine Diagram Type"
      type="modulobStateMachine">
    </diagramType>
  </extension>
 
  <extension point="org.eclipse.graphiti.ui.diagramTypeProviders">
    <diagramTypeProvider
      class="de.dubmas.modulob.state.diagram.graphiti.DiagramTypeProvider"
      description="This is the editor for modeling modulob state machines."
      id="de.dubmas.modulob.state.diagramtypeprovider"
      name="modulob state machine editor">
      <diagramType id="de.dubmas.modulob.state.diagramtype">
      </diagramType>
    </diagramTypeProvider>
  </extension>
  
  <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
          <propertyContributor contributorId="modulobStateMachine.PropertyContributor">
              <propertyCategory category="modulob">
              </propertyCategory>
          </propertyContributor>
      </extension>
       
      <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
          <propertyTabs contributorId="modulobStateMachine.PropertyContributor">
              <propertyTab label="Main" category="modulob"
                  id="graphiti.main.tab">
              </propertyTab>
          </propertyTabs>
      </extension>
       
      <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
          <propertySections contributorId="modulobStateMachine.PropertyContributor">
              <propertySection tab="graphiti.main.tab"           
               class="de.dubmas.modulob.state.diagram.graphiti.property.TransitionSection"
               filter="de.dubmas.modulob.state.diagram.graphiti.property.TransitionFilter"
               id="graphiti.main.tab.transition">
              </propertySection>
          </propertySections>
      </extension>
      
      <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
          <propertySections contributorId="modulobStateMachine.PropertyContributor">
              <propertySection tab="graphiti.main.tab"           
               class="de.dubmas.modulob.state.diagram.graphiti.property.StateSection"
               filter="de.dubmas.modulob.state.diagram.graphiti.property.StateFilter"
               id="graphiti.main.tab.state">
              </propertySection>
          </propertySections>
      </extension>
      
      <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
          <propertySections contributorId="modulobStateMachine.PropertyContributor">
              <propertySection tab="graphiti.main.tab"           
               class="de.dubmas.modulob.state.diagram.graphiti.property.StateMachineSection"
               filter="de.dubmas.modulob.state.diagram.graphiti.property.StateMachineFilter"
               id="graphiti.main.tab.state">
              </propertySection>
          </propertySections>
      </extension>
      
      <extension point = "org.eclipse.ui.newWizards">
 		<wizard
	   		id = "de.dubmas.modulob.state.diagram.newWizard"
      	   	name = "New modulob state"
	   		class="de.dubmas.modulob.state.diagram.graphiti.wizard.NewStateWizard"
	   		category="de.dubmas.modulob.ui"
	   		>
    	    <description>Create a new modulob state.</description>
	   		<selection class="org.eclipse.core.resources.IFolder"/>
		</wizard>
	</extension>
</plugin>