<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
      point="org.eclipse.emf.compare.match.engine">
   <matchengine
         engineClass="de.dubmas.modulob.migration.transformation.ModulobMatchEngine"
         fileExtension="modat"
         label="de.dubmas.modulob.migration.modulobmatchengine"
         priority="highest">
   </matchengine>
</extension>
</plugin>
